@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(immages/bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 428px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 23px;
}

#cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 44px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#coverBg {
    width: 428px;
}

#groupName {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 2px;
}

#albumName {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 2px;
}

#albumCover {
    width: 200px;
    filter: drop-shadow(0px 1px 16px #FB0203);
    z-index: 1;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#redBg1Shadow {
    width: 428px;
    height: 2px;
    background: #FC0000;
    box-shadow: 0px -5px 6px #FC0000
}

#redBg1 {
    width: 428px;
    height: 12px;
    background: #F68262;
}

#redBg2 {
    width: 428px;
    height: 12px;
    background: #EA6A46;
}

#redBg3 {
    width: 428px;
    height: 12px;
    background: #D65D3B;
}

#grayBg {
    width: 428px;
    background: #131313;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-top: 72px;
    margin-bottom: 24px;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px;
    margin-top: 60px;
}

.links {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 40px;
}

#apple, #spotify, #youtubeMusic, #amazonMusic, #deezer {
    width: 160px;
}

.buttonBox {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 40px;
}

#button {
    height: 40px;
    width: 148px;
    background-image: url('immages/Property\ 1=Default.svg');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.15s, transform 0.15s;
}
  
#button:hover {
    background-image: url('immages/Property\ 1=Variant2.svg');
}
  
#button:active {
    background-image: url('immages/Property\ 1=Variant3.svg');
    transform: scale(0.95);
}
